<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PM_Aawas_Yojana</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.aawas.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dealerlogin</display-name>
    <servlet-name>Dealerlogin</servlet-name>
    <servlet-class>com.aawas.Dealerlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dealerlogin</servlet-name>
    <url-pattern>/Dealerlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealersInfo</display-name>
    <servlet-name>DealersInfo</servlet-name>
    <servlet-class>com.aawas.DealersInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealersInfo</servlet-name>
    <url-pattern>/DealersInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AawasInfo</display-name>
    <servlet-name>AawasInfo</servlet-name>
    <servlet-class>com.aawas.AawasInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AawasInfo</servlet-name>
    <url-pattern>/AawasInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBill</display-name>
    <servlet-name>AddBill</servlet-name>
    <servlet-class>com.aawas.AddBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBill</servlet-name>
    <url-pattern>/AddBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.aawas.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Material</display-name>
    <servlet-name>Material</servlet-name>
    <servlet-class>com.aawas.Material</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Material</servlet-name>
    <url-pattern>/Material</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Billadd</display-name>
    <servlet-name>Billadd</servlet-name>
    <servlet-class>com.aawas.Billadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Billadd</servlet-name>
    <url-pattern>/Billadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitphotoH</display-name>
    <servlet-name>SubmitphotoH</servlet-name>
    <servlet-class>com.aawas.SubmitphotoH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitphotoH</servlet-name>
    <url-pattern>/SubmitphotoH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitphotoBill</display-name>
    <servlet-name>SubmitphotoBill</servlet-name>
    <servlet-class>com.aawas.SubmitphotoBill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitphotoBill</servlet-name>
    <url-pattern>/SubmitphotoBill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComplaints</display-name>
    <servlet-name>AddComplaints</servlet-name>
    <servlet-class>com.aawas.AddComplaints</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplaints</servlet-name>
    <url-pattern>/AddComplaints</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.aawas.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
</web-app>